* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  --nav-text: #4a4a4a;
  --adalab-color: #3cdbc0;
  --main-text: #fff;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.logo {
  width: 155px;
  margin: 10px 0;
}

.nav {
  margin-bottom: 13px;
}

.nav-item {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--nav-text);
}

.nav-blog {
  margin-right: 20px;
}

.main {
  background-color: var(--adalab-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-text {
  font-size: 1.875rem;
  color: var(--main-text);
  text-transform: capitalize;
  width: 10ch;
  text-align: center;
}

/* TABLET - DESKTOP */

@media all and (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    }

    .logo {
        margin: 20px 0;
    }

    .main-text {
        font-size: 2.5rem;
    }
}